@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

:root {
  --shadow: 0.15em 0.2em;
  --primary: rgb(15 23 42);
  --secondary: rgb(255 255 255);
  --font-primary: 'Fragment Mono', monospace;
}

body {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--primary);
}

.shadow {
  box-shadow: var(--shadow);
  transition: 0.2s;
}

.shadow:hover,
.shadow:focus {
  translate: var(--shadow);
  box-shadow: none;
}

.shadow:disabled:hover,
.shadow:disabled:focus {
  translate: 0;
  box-shadow: var(--shadow) gray;
  outline: none;
  background: darkgray;
  color: gray;
  text-outline: red 2px solid;
}

.texty-sm{
  font-size: 1rem;
}

.texty-lg{
  font-size: 1.5rem;
}

.texty-2xl{
  font-size: 2rem;
}