@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Inter+Tight:ital,wght@0,400;0,700;0,900;1,200&family=Silkscreen:wght@400;700&display=swap');

:root {
  --shadow: 0.15em 0.2em;
  --primary: rgb(15 23 42);
  --secondary: rgb(255 255 255);
  --font-primary: 'Inter Tight', monospace;
  
}

body {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--primary);
}

.shadow {
  box-shadow: var(--shadow) rgb(15 23 42);
  transition: 0.2s;
}

.help{
  font-size: 10rem;
}


.shadow:hover,
.shadow:focus {
  box-shadow: var(--shadow);
  translate: var(--shadow);
  box-shadow: none;
}

.shadow:disabled:hover,
.shadow:disabled:focus {
  translate: 0;
  box-shadow: var(--shadow) gray;
  outline: none;
  background: darkgray;
  color: gray;
  text-outline: red 2px solid;
}

